@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root { height: 100%; }


.bg-gray-850 { background-color: #0f1724; } /* slightly lighter dark panel */


/* small helper for text clamping if tailwind plugin unavailable */
.line-clamp-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }


